body{

}
nav{
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}

ul,li{
    display: inline;
    margin: 0;
    padding: 0;
    
}
ul{
    /* border: 1px solid red; */
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;

}

header{
    text-transform: uppercase;
    border-bottom: 2px solid black ;
    width: 30%;
    margin-left: calc(10%/6);
    margin-bottom: 1em;
    padding: 1.2em 0;
    font-family: Raleway;
    font-size: 1.5em;
}
.images{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    /* flex-basis: 300px; */
    flex-wrap: wrap;
    align-items: flex-start;
    
}

img{
    width: 30%;
    margin: calc(10%/6);
    display: inline-block;
}

#container {
    background-color: rgb(74, 91, 105);
    width: 90%; 
   /* height: 600px; */
    margin: 0 auto;
    border: 5px solid rgb(74, 91, 105);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content:space-between;   
    
    /* flex-wrap: wrap; */

}

#container .box{
    width: 100px;
    height: 100px;
    flex: 1 1 400px; 
      
}   

.box:nth-of-type(1){
    background-color: rgb(115, 185, 243);
}
.box:nth-of-type(2){
    background-color: rgb(100, 216, 201);

}
.box:nth-of-type(3){
    background-color: rgb(120, 223, 99);
}
.box:nth-of-type(4){
    background-color: rgb(195, 219, 88);
  
}
.box:nth-of-type(5){
    background-color: rgb(214, 109, 60);
   
}
h2{
    text-align: center;
    font-size: 4em;
}

main{
    width: 80%;
    margin: 0 auto;
    border: 5px solid black;
    height: 500px;
    display: flex;

}
main .sidebar {
    background-color:  rgb(100, 216, 201);
    flex: 1 1 250px;
}
 main .maincontent{
     background-color:rgb(115, 185, 243) ;
     flex: 2 1 800px;
 }
 
 @media (max-width: 768px) {
    h2{
        font-size: 3em;

    }
    nav, ul{
        flex-direction: column;
        align-items: center;
    }
 }
 @media (max-width: 576px) {
    h2{
        font-size: 2.5em;

    }
 }
